.MainPane{
	-fx-background-image: url("../image/bg.jpg");
	-fx-background-size: stretch;
	-fx-background-color:#EEEEEE;
}

.Board{
	-fx-background-image: url("../image/board.png");
	-fx-background-size: stretch;
}

.jfx-button {
     -jfx-button-type: RAISED;
     -fx-background-color: white;
     -fx-text-fill: black;
     -fx-background-radius:5;
}

.card-Red {
     -fx-background-image: url("../image/cardRedBg.png");
     -fx-text-fill: black;
     -fx-background-size: cover;

}

.card-Blue {
     -fx-background-image: url("../image/cardBlueBg.png");
     -fx-text-fill: black;
     -fx-background-size: cover;
}

.card-Neutral {
     -fx-background-image: url("../image/cardBg.png");
     -fx-text-fill: black;
     -fx-background-size: cover;
}

.card-Death {
     -fx-background-image: url("../image/cardDeathBg.png");
     -fx-text-fill: white;
     -fx-background-size: cover;
}

.card {
     -jfx-button-type: RAISED;
     -fx-font-size:18;
     -fx-background-radius: 14;
     -fx-font-weight: bold;
}



.ScoreBoard{
	-fx-background-color:#000000;
	-fx-border-color:#EAEAEA;
	-fx-border-width:5;
	-fx-border-radius:5;
	-fx-border-style:solid;
}

.PlayerProfile {
	-fx-border-style:solid;
	-fx-border-color:#EAEAEA;
	-fx-border-width:5;
	-fx-border-radius:7;
}

.mainMenuButton {
    -fx-background-color: radial-gradient(center 50% 70%, radius 37%, rgba(0,0,0,0.40), rgba(0,0,0,0));
    -fx-text-fill:#e0a414;
    -fx-font-size:34px;
}

.backButton{
    -fx-background-color: radial-gradient(center 50% 70%, radius 37%, rgba(0,0,0,0.40), rgba(0,0,0,0));
    -fx-text-fill:#e0a414;
    -fx-font-size:25px;
    -fx-text-alignment:left;
}
